# Informações do Docker (possiveis valores: standalone, api)
TYPE=standalone

# Informações do Next.js
NEXT_PORT=3000
ENV=development

# Informações do MongoDB (Apenas para o ambiente standalone)
MONGO_INITDB_ROOT_USERNAME=admin
MONGO_INITDB_ROOT_PASSWORD=admin
MONGO_HOST=localhost
MONGO_PORT=27017
MONGO_DB=cms

# Informações da API
API_URL=